### Se pide:

A partir del archivo "USA_Housing.csv", realizar la regresión lineal entre cada columna numérica con la columna 'price'. 

Cuando existe una columna(variable) que es la que se quiere comparar, se le llama 'target'.

In [19]:
"""
Import libraries and drop non numeric functions
"""

import pandas as pd
import numpy as np 
import sklearn.metrics
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

df = pd.read_csv("../data/USA_Housing.csv")
df = df.drop("Address", 1)

In [6]:
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05
...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06

In [21]:
"""
Rename the price column to target to understand it better, convert to array, and reshape it

"""

target = df["Price"].values

target = np.asarray(target)

In [22]:
lr = LinearRegression()

In [71]:
def interating_values():
    """
    Se define una función para iterar por todas las columnas una a una y sacar ciertos valores de estudio.
    Por cada columna se van a sacar los siguientes valores:
        -Coeficiente
        -Intersección
    El target en este caso es la columna de precio del dataframe
    """
    
    for i in df.columns:
        x = np.asarray(df[i].values).reshape(-1, 1)
        X_train, X_test, y_train, y_test = train_test_split(x, target, test_size=0.15)
        lr.fit(X_train, y_train)
        print("Coeficient of ", i, lr.coef_)
        print("-----------")
        print("Intercept of ", i, lr.intercept_)
        print("Next column interation")
interating_values()

Coeficient of  Avg. Area Income [[21.30305133]]
-----------
Intercept of  Avg. Area Income [-229645.54550604]
Next column interation
Coeficient of  Avg. Area House Age [[160905.47009822]]
-----------
Intercept of  Avg. Area House Age [271416.14252983]
Next column interation
Coeficient of  Avg. Area Number of Rooms [[117697.1646311]]
-----------
Intercept of  Avg. Area Number of Rooms [414027.47708632]
Next column interation
Coeficient of  Avg. Area Number of Bedrooms [[46531.8933573]]
-----------
Intercept of  Avg. Area Number of Bedrooms [1047697.47996939]
Next column interation
Coeficient of  Area Population [[14.36015137]]
-----------
Intercept of  Area Population [711275.01161922]
Next column interation
Coeficient of  Price [[1.]]
-----------
Intercept of  Price [-2.32830644e-10]
Next column interation