# Python | day 4 | for loop, functions (feat. basics & if/else)

### Exercise 0.1 - Python Basics

1. What do we use to make a line break in a print? And for a tab stop?

have a look ---> http://elclubdelautodidacta.es/wp/2012/04/python-capitulo-31-exprimiendo-la-funcion-print/

2. Make a converter from dollars to euros. You'll have to use input.

3. Declare two strings, one will be your first name and the other your last name. Declare your age in another variable. Print a sentence which include those variables, using ```f{}```. Wtf is that? check this out **-->** https://realpython.com/python-string-formatting/

4. Given the list `[4,7, -3]`, calculate its maximum, minimum and sum.

5. Round `38.38276252728` to 5 decimal places.

6. Make the phrase `"Born to be wild"` uppercase, then lowercase, divide it by spaces, and finally, replace `"wild"` with `"Geek."`

7. Create a program where two inputs are collected, and the output of the program is a boolean which tell the user whether those inputs are the same or not.

### Exercise 0.2 - If/else

1. Create a decission tree using if/else sentences, to determine the price of the movies ticket. If the client's age is between 5 and 15 years, both included, the price will be 5, if she/he is retired and the movie is one of the `peliculas_discount`, the price is 4. In any other case, it will be 7 euros.

You should create the list of `peliculas_discount` with your favourites movies.

In [13]:
x = "SI"
print(x.upper())

SI

In [14]:
peliculas_discount = ["Infiltrados", "El Padrino", "American Ganster"]

edad_cliente = int(input("¿Qué edad tienes?"))
pelicula_a_ver = input("¿Qué película vas a ver?")
retirado = input("¿Estás retirado?")
retirado = retirado.upper()

# Opción 2 a partir de String
if retirado == "SI" or retirado == "YES":
    retirado = True
else:
    retirado = False

# Las condiciones
#if edad_cliente >= 5 and edad_cliente <= 15:
if (5 <= edad_cliente <= 15):
    print("El precio son 5€")
elif retirado and pelicula_a_ver in peliculas_discount:
    print("El precio son 4€")
else:
    print("El precio son 7€")

In [ ]:
# Las condiciones
#if edad_cliente >= 5 and edad_cliente <= 15:
if (5 <= edad_cliente <= 15):
    print("El precio son 5€")
elif retirado:
    if pelicula_a_ver in peliculas_discount:
        print("EL precio son 4€")
    else: 
        print("El precio son 7€")
else:
    print("El precio son 7€")

In [ ]:
# Opción 1 a partir de String
retirado = (retirado == "SI") or (retirado == "YES")

# Opción 2 a partir de String
if retirado == "SI":
    retirado = True
else:
    retirado = False

In [ ]:
# Opción 1 para convertir a booleano "retirado" a partir de la edad
retirado = (edad_cliente >= 67)

# Opción 2 para convertir a booleano "retirado" a partir de la edad
if edad_cliente >= 67:
    retirado = True
else:
    retirado = False

# Opción 3 para convertir a booleano "retirado" a partir de la edad
retirado = False
if edad_cliente >= 67:
    retirado = True

In [15]:
lista = ['María Cagigas','Kapil Dadlani','Daniel del Valle','María del Mar Delgado Domínguez','Estela Falgas','Alfonso Garcia Mateo-Sagasta','Javier Gil Antuñano Foncillas','Juan Guerrero Enriquez','Antonio Leal','Miguel Merry del Val','Miguel','Marta Miñana','Roberto Molleda','Javier Olcoz','Ariadna Puigventos','Maria Angeles Rodriguez','Leonardo Sánchez Soler','Anais villegas']

import random

alumno_aleatorio = random.choice(lista)
print(alumno_aleatorio)

Miguel

In [8]:
c = 6
d = 2
if c != 6:
    print("Algo")
elif d != 2:
    print("Prueba suerte")
elif d == 6:
    print(6)
elif c == 6:
    print("C es 6")
if d == 2:
    print(2)
else:
    print("Else")

C es 6
2

### Exercise 1 - For

If you find a way of solving any of these questions below without using for loop, don't hesitate to do it.

1. Prints the numbers between 0 and 70 that are multiples of 3 and 5.

In [17]:

3 % 3 == 0

True

list(range(start, stop, incrementa))

In [ ]:
def rango(*args, **kwargs):

def rango(start=0, stop, inc=1)

In [26]:
print(list(range(0, 71, 1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70]

In [27]:
print(list(range(3)))

[0, 1, 2]

In [44]:
print(list(range(2, 71, 1)))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70]

In [46]:
list(range(3))

[0, 1, 2]

In [41]:
lista_a = ["Mallorca", "Mérida", "Madrid"]
lista_b = ["España", "Francia", "Italia"]

#for i in [0,1,2]:  # El for recoger el VALOR de la colección
for i in range(len(lista_a)):
    print("Valor de i:", i)
    print("lista_a[" + str(i) + "]-->", lista_a[i])
    print("lista_b[" + str(i) + "]-->",lista_b[i])
    print("----------------")

Valor de i: 0
lista_a[0]--> Mallorca
lista_b[0]--> España
----------------
Valor de i: 1
lista_a[1]--> Mérida
lista_b[1]--> Francia
----------------
Valor de i: 2
lista_a[2]--> Madrid
lista_b[2]--> Italia
----------------

In [42]:
lista_a = ["Mallorca", "Mérida", "Madrid"]
lista_b = ["España", "Francia", "Italia"]

contador = 0
for i in ["hola", "andrés", "jaime"]:  # El for recoger el VALOR de la colección
    print("Valor de contador:", contador)
    print("lista_a[" + str(contador) + "]-->", lista_a[contador])
    print("lista_b[" + str(contador) + "]-->",lista_b[contador])
    print("----------------")
    contador += 1

Valor de contador: 0
lista_a[0]--> Mallorca
lista_b[0]--> España
----------------
Valor de contador: 1
lista_a[1]--> Mérida
lista_b[1]--> Francia
----------------
Valor de contador: 2
lista_a[2]--> Madrid
lista_b[2]--> Italia
----------------

In [47]:
lista_a = ["Mallorca", "Mérida", "Madrid"]
lista_b = ["España", "Francia", "Italia"]
lista_c = lista_a + lista_b
lista_c

['Mallorca', 'Mérida', 'Madrid', 'España', 'Francia', 'Italia']

In [48]:
list(range(len(lista_c)))

[0, 1, 2, 3, 4, 5]

In [50]:
#for i in [0, 1, 2, 3, 4, 5]:
for i in range(len(lista_c)):
    print(lista_c[i])

Mallorca
Mérida
Madrid
España
Francia
Italia

In [51]:
lista_a

['Mallorca', 'Mérida', 'Madrid']

In [52]:
lista_b

['España', 'Francia', 'Italia']

In [53]:
#for i in range(len(lista_a)):
for i in [0, 1, 2]:
    if i == 0:  # La primera iteración
        print(lista_a[i], ":", lista_b[i+1])
    elif i == 1:  # La segunda iteración
        print(lista_a[i], ":", lista_b[i-1])
    else:  # Es la tercera iteración    
        print(lista_a[i], ":", lista_b[i])

Mallorca : Francia
Mérida : España
Madrid : Italia

In [ ]:
lista_a = ["Mallorca", "Mérida", "Madrid"]
lista_b = ["España", "Francia", "Italia"]

#for i in range(len(lista_a)):
for i in [0, 1, 2]:
    if i == 0:  # La primera iteración
        print(lista_a[i], ":", lista_b[i+1])
    elif i == 1:  # La segunda iteración
        print(lista_a[i], ":", lista_b[i-1])
    elif i == 2:  # La tercera iteración
        print(lista_a[i], ":", lista_b[i])

In [54]:
print(lista_a)
print(lista_b)

['Mallorca', 'Mérida', 'Madrid']
['España', 'Francia', 'Italia']

In [55]:
lista_d = lista_b + ["Cuenca"]
lista_d

['España', 'Francia', 'Italia', 'Cuenca']

In [58]:
#for i in range(len(lista_a)):
for i in [0, 1 ,2]:
    print(lista_a[i])
    print(lista_d[i+1])

Mallorca
Francia
Mérida
Italia
Madrid
Cuenca

In [30]:
rango = list(range(71))

for x in rango:
    #if (x % 3 == 0) and (x % 5 == 0):
    if (x % 3 == 0) or (x % 5 == 0):
        print(x)

0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70

2. Print the following pattern:

```python
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

3. Given to list of same lenght, create a third list which contains the sum of both of the list, element by element.

```python
Example: 
a = [1,2]
b = [4,5]
new_list = [5,7]
```

4. Get first, second best scores from the list.
List contains duplicates.

In [ ]:
scores = [86,86,85,85,85,83,23,45,84,1,2,0]

5. From the given list:
    
    a) Create separate lists of strings and numbers.

    b) Sort the strings' list in ascending order

    c) Sort the strings' list in descending order

    d) Sort the number's list from lowest to highest

    e) Sort the number's list from highest to lowest

In [3]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, 
           "Television", 1000, "Laptop Case", "Camera Lens"]

6. Make a list of ten aliens, each of which is one color: 'red', 'green', or 'blue'.
    - You can shorten this to 'r', 'g', and 'b' if you want, but if you choose this option you have to include a comment explaining what r, g, and b stand for.
    - Red aliens are worth 5 points, green aliens are worth 10 points, and blue aliens are worth 20 points.
    - Use a for loop to determine the number of points a player would earn for destroying all of the aliens in your list.

### Exercise 2 - Functions

1. Write a function program to sum up two given different numbers.

2. Write a Python program to convert a tuple of characters into a string.

    - Sample tuple: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Expected output : `"THE BRIDGE"`
    
Hint: Turn it into a list.

3. Write a Python program to generate a list where the values are square of numbers between 1 and 30 (both included), and return a list of first and last 5 elements of the list.

4. Create a Python program that calculates the factorial of a number.

The program will ask the user to enter a number (input) and will return the factorial of that number.

5. Create a program that calculates the average.

The program will ask the user to specify how many numbers you want to enter, and will show a prompt to include number by number to a list, and then calculate the average of each number in that list.

# If you made it till here you did a fantastic work!

!["holo"](https://img-9gag-fun.9cache.com/photo/aNg9wMK_460s.jpg)