# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [4]:
chipo[0:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1

len(chipo)

4622

In [6]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
phase1 = chipo.groupby(["item_name"]).sum()
x = phase1.sort_values("quantity").tail(1)
x

              order_id  quantity
item_name
Chicken Bowl    713926       761

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
x

              order_id  quantity
item_name
Chicken Bowl    713926       761

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [29]:
phaseC = chipo.groupby(["choice_description"]).sum()
c = phaseC.sort_values("quantity").tail(1)
c

                    order_id  quantity  item_price
choice_description
[Diet Coke]           123455       159      326.71

### Step 12. How many items were orderd in total?

In [13]:
sum(chipo["quantity"])

4972

### Step 13. Turn the item price into a float

In [14]:
# Al guardar las operaciones en una variable, me lo corrige y me lo da como float64, pero he intentado hacerlo para que lo cambie en el original y...no
# commit#2: al final era lo primero y me lié a probar cosas infructuosas.

changes1 = lambda df : df.astype("float64")
chipo["item_price"] = changes1(chipo["item_price"].str.lstrip("$"))
chipo["item_price"].dtype 

#SOLVED

dtype('float64')

#### Step 13.a. Check the item price type

In [15]:
chipo.item_price.dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [16]:
#está creada en el paso 13 todo.

#### Step 13.c. Check the item price type

In [17]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [18]:
revenue = sum(chipo["item_price"]* chipo["quantity"])
print("Revenue was: $",round(revenue, 2), sep="")

Revenue was: $39237.02

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [19]:
ordergr = chipo.groupby(["order_id"])
len(ordergr)

1834

### Step 16. What is the average revenue amount per order?

In [20]:
# Solution 1

revenue / len(ordergr)

21.3942311886587

In [21]:
# Solution 2

### Step 17. How many different items are sold?

In [22]:
len(chipo.groupby(["item_name"]))

50

50